.navbar-inner {
    min-height: 0px;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 100px;
    height: 100px;
    padding-top: -10px;
}

#logo {
  margin-top: -10px;
  height: 95%;
  margin-right: 5px;
}
